:root {
  --primary: #009dae;
  --secondary: #71dfe7;
  --help-one: #c2fff9;
  --help-two: #ffe652;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    var(--primary) 0%,
    var(--primary) 50%,
    var(--secondary) 50%,
    var(--secondary) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Muli';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

ul,
ol {
  list-style-type: none;
  display: flex;
  background-color: #fff;
}

a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: var(--primary);
}

button {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

button:focus {
  /* border: 2px solid #000;
  border-radius: 4px; */
  outline: 0;
}

input {
  width: 100%;
  padding: 16px 8px;
}

/* utility classes */

.inner-container {
  width: 70%;
  margin: 0 auto;
}

.box {
  padding: 70px 0;
}

.dark-section {
  background-color: #000;
  color: #fff;
}

.light-section {
  background-color: ccc;
  color: #000;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 16px;
}

nav ul {
  width: calc(360px - 32px);
  overflow: hidden;
  transition: width 0.6s linear;
}

nav ul li {
  opacity: 1;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

/* nav btn */
.hamburger {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  position: relative;
}

.line {
  width: 16px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 7px;
  left: 0;
  transition: transform 0.6s linear;
}

.line_1 {
  transform: rotate(-765deg);
}

.line_2 {
  transform: rotate(765deg);
}

/* nav .close */

nav.close ul {
  width: 0;
}

nav.close ul li {
  transform: rotateY(360deg);
  opacity: 0;
}

nav.close .line_1,
nav.close .line_2 {
  transform: rotate(0);
}

/* LOADING */
.loading-container {
  opacity: 1;
  transition: opacity 1s linear;
}

.loading {
  position: fixed;
  top: -30px;
  left: -30px;
  z-index: 100;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  background-image: url('../images/deadpool.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(30px);
}

p.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
}
